<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div id="main" role="main" class="container">
      {% include google-ad-flat.html %}
      {{ content }}
      {% include google-ad-flat.html %}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
    <!-- disqus count -->
    <script id="dsq-count-scr" src="//donald-dh.disqus.com/count.js" async></script>
  </body>
</html>
